In [1]:
import csv
import os

In [80]:
IMAGE_PATH = '/home/numericube/Documents/current_projects/gcaesthetics-implantbox/dataset/ds_step4_caracter_detector/img_val/'

files = os.listdir(IMAGE_PATH)

with open('codes_val.csv', 'w') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    
    
    for file in files:
        spamwriter.writerow([file])

In [28]:
import pandas as pd 

data_code = pd.read_csv("codes_test.csv") 
data_code.head()

                   image_name   line1        line2   line3   quality   read
0  FULL-2019-04-26-121832.png   AB091     14/C50CC   M2020         3      1
1  FULL-2019-04-26-134020.png   AA207   TMF2/250CC   M0658         3      1
2  FULL-2019-04-26-140104.png   AB091     19/500CC   M2029         1      1
3  FULL-2019-04-26-140123.png   AB091         00CC    M209         0      0
4  FULL-2019-04-26-140937.png   AB091   TMF2/150CC   M2032         2      1

In [78]:
ligne =data_code.loc[data_code['image_name'] == 'FULL-2019-04-26-140104.png']
print(type(ligne))
yes = ligne.iloc[0,4]
print(yes + yes)

code = [ ligne.iloc[0,1], ligne.iloc[0,2] ,ligne.iloc[0,3]]
print(code)

<class 'pandas.core.frame.DataFrame'>
2
[' AB091', ' 19/500CC', ' M2029']

In [25]:
data_code.columns

Index(['image_name', ' line1', ' line2', ' line3', ' quality', ' read'], dtype='object')

In [43]:
piou = list(range(15))
print(piou)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [44]:
os.path.basename('/home/truite/coucou.txt')

'coucou.txt'

In [111]:
a = [[2,3],[1,0,0],[],[3,4],[4]]
print(len(a[2]))
b = [len(i) for i in a]

print(b)
print(sorted(range(len(b)), reverse = True, key=lambda k: b[k]))
infos_sorted = sorted(range(len(b)), reverse = True, key=lambda k: b[k])
index_final = infos_sorted[0:3]
index_final = sorted(index_final)
print(index_final)
[a[i] for i in index_final]

0
[2, 3, 0, 2, 1]
[1, 0, 3, 4, 2]
[0, 1, 3]

[[2, 3], [1, 0, 0], [3, 4]]